/*contact02*/

.contact02-pagetitle-images {
    background-image: url(../../inset/pages-images/contact02-img03.jpg);
}

.contact02-box {
    position: relative;
}

.contact02-box .contact02-map {
    width: 50%;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #f3f3f3;
}

.contact02-box .map-right {
    width: 50%;
    margin-left: 50%;
    display: table;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    table-layout: fixed;
}

.contact02-box .contact02-cont {
    width: 50%;
    display: table-cell;
    padding: 100px 20px;
    color: #FFF;
    vertical-align: middle;
    /*background-color: #28a4fb;*/
    background-color: #20a3f0;
    text-align: center;
    font-size: 16px;
    line-height: 2.2;
    position: relative;
}

.contact02-box .contact02-cont.bg-black:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.contact02-box .contact02-cont.bg-black>div {
    z-index: 1;
    position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact02-box .map-right {
        width: 100%;
        margin-left: 0;
    }
    .contact02-box .contact02-map {
        width: 100%;
        position: relative;
        height: 300px;
    }
    .contact02-box .contact02-cont {
        padding: 20px 15px 15px 15px;
    }
}

@media only screen and (max-width: 767px) {
    .contact02-box .map-right {
        width: 100%;
        margin-left: 0;
    }
    .contact02-box .contact02-map {
        width: 100%;
        position: relative;
        height: 300px;
    }
    .contact02-box .contact02-cont {
        padding: 20px 15px 15px 15px;
        width: 100%;
        display: block;
    }
}


.dg-title09{
	text-align:center;
	margin-bottom:30px;
}
.dg-title09 .title{
}
.dg-title09 .title:after{
	content:"";
	width:100px;
	border-bottom:1px solid #20a3f0;
	display:block;
	margin:18px auto 15px;
}
.dg-title09.text-center .title:after{
	width:50px;
}
.dg-title09.line-lg .title:after{
	width:100px;
}

.dg-title09 small{
	font-size:14px;
	color:#666666;
	font-style:italic;
	margin-bottom:4px;
	display:block;
}

.dg-title09.text-left{
	text-align:left;
}
.dg-title09.text-left .title:after{
	margin-left:0;
	width:110px;
}
.dg-title09.text-right .title:after{
	margin-right:0;
	width:110px;
}
.dg-title09.color-white .title:after,
.dg-title09.color-white .title:before{
	border-color:#FFF;
}
.dg-title09.color-white .title{
	color:#FFF;
}
.dg-title09.color-white small{
	color:#bababa
}
.dg-title09.color-white,
.dg-title09.color-white p{
	color:#eaeaea
}
.dg-title09.size-xl small{
	font-size:16px;
}
.dg-title09.size-xl .title:after{
	margin-top: 25px;
	margin-bottom:22px;
}

@media only screen and (max-width: 767px) {
	.dg-title09 .title{
		font-size:20px;
		letter-spacing:1px;
	}
	.dg-title09 .title:after{
		margin:20px auto 15px;
	}
}

.dg-title36{
	margin-bottom:30px;
	text-align:center;
}
.dg-title36:before{
	content:".\2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002.";
	display:block;
	margin:auto;
	background-size: 10px 10px;  
	background-repeat:repeat-x;
	margin-bottom:21px;
    text-decoration: line-through;
	text-decoration-style: wavy; 
	-moz-text-decoration-style: wavy;
	font-size:13px;
	line-height:1;
	white-space:nowrap;
	width:80px;
	overflow:hidden;
	color:#2ba8f0;
	text-indent:-3px;
}
.dg-title36.text-left{
	text-align:left;
}
.dg-title36.text-left:before{
	color:#acacac;
}

.dg-title36.text-left:before{
	margin-left:0;
}
.dg-title36.color-white:before{
	color:#FFF;
}
@media only screen and (max-width: 767px) {
	.dg-title36{
		font-size:22px;
	}
}