
/* ********* ShortCodes-bg ******** */


.shortcodes-bg{
	background-color:#f9f9f9;
}

.shortcodes-bg02{
	background-color:#5a93d4;
}
.shortcodes-bg03{
	background: url(../../inset/pages-images/shortcodes-bg03.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.shortcodes-bg04{
	background: url(../../inset/pages-images/shortcodes-bg04.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.shortcodes-bg05{
	background: url(../../inset/pages-images/shortcodes-bg05.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.shortcodes-bg06{
	background: url(../../inset/pages-images/shortcodes-bg06.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.shortcodes-bg07{
	background: url(../../inset/pages-images/shortcodes-bg07.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.shortcodes-bg08{
	background: url(../../inset/pages-images/shortcodes-bg08.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.shortcodes-bg09{
	background: url(../../inset/pages-images/shortcodes-bg09.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.shortcodes-bg10{
	background: url(../../inset/pages-images/shortcodes-bg10.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.shortcodes-bg11{
	background: url(../../inset/pages-images/shortcodes-bg11.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.shortcodes-bg12{
	background: url(../../inset/pages-images/shortcodes-bg12.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.shortcodes-bg13{
	background: url(../../inset/pages-images/shortcodes-bg13.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.shortcodes-bg14{
	background: url(../../inset/pages-images/shortcodes-bg14.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.shortcodes-bg15{
	background: url(../../inset/pages-images/shortcodes-bg15.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.shortcodes-bg16{
	background: url(../../inset/pages-images/shortcodes-bg16.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.shortcodes-bg17{
    background-image: url(../../inset/pages-images/shortcodes-bg17.png);
    background-position: left center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 45% auto;
}
.shortcodes-bg18{
	background: url(../../inset/pages-images/shortcodes-bg18.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
